# 按分类统计薪水

In [ ]:
表: Accounts

+-------------+------+
| 列名        | 类型  |
+-------------+------+
| account_id  | int  |
| income      | int  |
+-------------+------+
在 SQL 中，account_id 是这个表的主键。
每一行都包含一个银行帐户的月收入的信息。
 

查询每个工资类别的银行账户数量。 工资类别如下：

"Low Salary"：所有工资 严格低于 20000 美元。
"Average Salary"： 包含 范围内的所有工资 [$20000, $50000] 。
"High Salary"：所有工资 严格大于 50000 美元。

结果表 必须 包含所有三个类别。 如果某个类别中没有帐户，则报告 0 。

按 任意顺序 返回结果表。

查询结果格式如下示例。

 

示例 1：

输入：
Accounts 表:
+------------+--------+
| account_id | income |
+------------+--------+
| 3          | 108939 |
| 2          | 12747  |
| 8          | 87709  |
| 6          | 91796  |
+------------+--------+
输出：
+----------------+----------------+
| category       | accounts_count |
+----------------+----------------+
| Low Salary     | 1              |
| Average Salary | 0              |
| High Salary    | 3              |
+----------------+----------------+
解释：
低薪: 有一个账户 2.
中等薪水: 没有.
高薪: 有三个账户，他们是 3, 6和 8.

In [1]:
import pandas as pd
"""
思路：分别统计高中低收入人数，后按人数构建新的数据架构
Tips:count(), ()&(),
"""
def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    
    # 分别统计高中低收入人数
    Low_Salary_sum = accounts[accounts['income'] < 20000]['account_id'].count()
    Average_Salary_sum = accounts[(accounts['income'] >= 20000) & (accounts['income'] <= 50000)]['account_id'].count()
    High_Salary_sum = accounts[accounts['income'] > 50000]['account_id'].count()
    
    # 构建新数据架构统计三种数据类型
    ans = pd.DataFrame({
        'category': ['Low Salary', 'Average Salary', 'High Salary'],
        'accounts_count': [Low_Salary_sum, Average_Salary_sum, High_Salary_sum]
    })
    return ans

In [3]:
data = [[3, 108939], [2, 12747], [8, 87709], [6, 91796]]
accounts = pd.DataFrame(data, columns=['account_id', 'income']).astype({'account_id':'Int64', 'income':'Int64'})
count_salary_categories(accounts)

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3