# 从不订购的客户

In [ ]:
Customers 表：

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
+-------------+---------+
在 SQL 中，id 是该表的主键。
该表的每一行都表示客户的 ID 和名称。
Orders 表：

+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| customerId  | int  |
+-------------+------+
在 SQL 中，id 是该表的主键。
customerId 是 Customers 表中 ID 的外键( Pandas 中的连接键)。
该表的每一行都表示订单的 ID 和订购该订单的客户的 ID。
 

找出所有从不点任何东西的顾客。

以 任意顺序 返回结果表。

结果格式如下所示。

 

示例 1：

输入：
Customers table:
+----+-------+
| id | name  |
+----+-------+
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |
+----+-------+
Orders table:
+----+------------+
| id | customerId |
+----+------------+
| 1  | 3          |
| 2  | 1          |
+----+------------+
输出：
+-----------+
| Customers |
+-----------+
| Henry     |
| Max       |
+-----------+

In [2]:
import pandas as pd
"""
思路：用isin()查找看orders表中ID是否在Customers表中有对应ID，输出非对应行的name
Tips: ~, C[A.isin(B)](用B所包含的值选取A所在的，映射到C对应的行), rename(columns=)
"""

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    # 利用.isin()选取目标行之后，再rename()更换列名，注意使用[[' ']]来生成新DataFrame数据格式
    return customers[~customers['id'].isin(orders['customerId'])][['name']].rename(columns={'name': 'Customers'})

In [3]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

In [4]:
new_df = customers[~customers['id'].isin(orders['customerId'])]
new_df

   id   name
1   2  Henry
3   4    Max