# 至少有5名直接下属的经理

In [ ]:
表: Employee

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
| department  | varchar |
| managerId   | int     |
+-------------+---------+
在 SQL 中，id 是该表的主键列。
该表的每一行都表示雇员的名字、他们的部门和他们的经理的id。
如果managerId为空，则该员工没有经理。
没有员工会成为自己的管理者。
 

查询至少有5名直接下属的经理 。

以 任意顺序 返回结果表。

查询结果格式如下所示。

 

示例 1:

输入: 
Employee 表:
+-----+-------+------------+-----------+
| id  | name  | department | managerId |
+-----+-------+------------+-----------+
| 101 | John  | A          | None      |
| 102 | Dan   | A          | 101       |
| 103 | James | A          | 101       |
| 104 | Amy   | A          | 101       |
| 105 | Anne  | A          | 101       |
| 106 | Ron   | B          | 101       |
+-----+-------+------------+-----------+
输出: 
+------+
| name |
+------+
| John |
+------+

In [1]:
import pandas as pd
"""
思路：先通过对管理人员分组统计每个管理下面有多少名员工，后将统计数量合并到员工表 得到每个员工下属数量
Tips: groupby(), count(), rest_index(), merge(), drop(, axis), rename(, axis)
"""
def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    # 统计每个人的下属数量
    each_underling_num = employee.groupby("managerId")["name"].count().reset_index()

    # 将下属数量合并到员工表
    employee_with_underling = employee.merge(each_underling_num, left_on="id", right_on="managerId", how="left").drop("managerId_y", axis=1)

    # 输出下属数量大于5的经理
    return employee_with_underling[employee_with_underling["name_y"] >= 5][["name_x"]].rename({"name_x":"name"}, axis=1)

In [2]:
data = [[101, 'John', 'A', None], [102, 'Dan', 'A', 101], [103, 'James', 'A', 101], [104, 'Amy', 'A', 101], [105, 'Anne', 'A', 101], [106, 'Ron', 'B', 101]]
employee = pd.DataFrame(data, columns=['id', 'name', 'department', 'managerId']).astype({'id':'Int64', 'name':'object', 'department':'object', 'managerId':'Int64'})
find_managers(employee)

   name
0  John