# 第N高的薪水

In [ ]:
表: Employee

+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| salary      | int  |
+-------------+------+
在 SQL 中，id 是该表的主键。
该表的每一行都包含有关员工工资的信息。
 

查询 Employee 表中第 n 高的工资。如果没有第 n 个最高工资，查询结果应该为 null 。

查询结果格式如下所示。

 

示例 1:

输入: 
Employee table:
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
n = 2
输出: 
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| 200                    |
+------------------------+
示例 2:

输入: 
Employee 表:
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
+----+--------+
n = 2
输出: 
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| null                   |
+------------------------+

In [3]:
import pandas as pd
"""
思路：对表薪水降排序，截取第N个值行, which use.head().tail()
Tips: drop_duplicates(), sort_values(by=, ascending), head(), tail()
"""
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:

    # 去除重复薪水行
    employee = employee[["Salary"]].drop_duplicates()

    # 对原表降排序，后截取第N行，使用.head9).tail()
    if N <= len(employee):
        return employee.sort_values(by='Salary', ascending=False).head(N).tail(1)

    # 考虑空表的情况
    else:
        return pd.DataFrame()

In [4]:
data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['Id', 'Salary']).astype({'Id':'Int64', 'Salary':'Int64'})
nth_highest_salary(employee, 2)

   Salary
1     200