# 分数排名

In [ ]:
表: Scores

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| score       | decimal |
+-------------+---------+
在 SQL 中，id 是该表的主键。
该表的每一行都包含了一场比赛的分数。Score 是一个有两位小数点的浮点值。
 

查询并对分数进行排序。排名按以下规则计算:

分数应按从高到低排列。
如果两个分数相等，那么两个分数的排名应该相同。
在排名相同的分数后，排名数应该是下一个连续的整数。换句话说，排名之间不应该有空缺的数字。
按 score 降序返回结果表。

查询结果格式如下所示。

 

示例 1:

输入: 
Scores 表:
+----+-------+
| id | score |
+----+-------+
| 1  | 3.50  |
| 2  | 3.65  |
| 3  | 4.00  |
| 4  | 3.85  |
| 5  | 4.00  |
| 6  | 3.65  |
+----+-------+
输出: 
+-------+------+
| score | rank |
+-------+------+
| 4.00  | 1    |
| 4.00  | 1    |
| 3.85  | 2    |
| 3.65  | 3    |
| 3.65  | 3    |
| 3.50  | 4    |
+-------+------+

In [2]:
import pandas as pd
"""
思路：需要对表格进行排序with sort_values(by, ascending, inplace)，后对排序后的分数进行排序with rank(method, ascending)，后返回目标列
Tips: sort_values(by, scending, inplace), rank(method, ascending), astype()
"""
def order_scores(scores: pd.DataFrame) -> pd.DataFrame:

    # 得到使用score排序后的分数表with sort_values(by)
    scores.sort_values(by='score', ascending=False, inplace=True)

    # 使用rank(method, ascending)方法添加分数排名列, "method = 'dense'"意思是当存在并列的值时，下一个排名+1 不跳过
    scores['rank'] = scores['score'].rank(method = 'dense', ascending=False).astype(int)

    return scores[['score', 'rank']]

In [3]:
data = [[1, 3.5], [2, 3.65], [3, 4.0], [4, 3.85], [5, 4.0], [6, 3.65]]
scores = pd.DataFrame(data, columns=['id', 'score']).astype({'id':'Int64', 'score':'Float64'})
order_scores(scores)

   score  rank
2    4.0     1
4    4.0     1
3   3.85     2
1   3.65     3
5   3.65     3
0    3.5     4