# 每个产品在不同商店的价格

In [ ]:
表：Products

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| product_id  | int     |
| store1      | int     |
| store2      | int     |
| store3      | int     |
+-------------+---------+
在 SQL 中，这张表的主键是 product_id（产品Id）。
每行存储了这一产品在不同商店 store1, store2, store3 的价格。
如果这一产品在商店里没有出售，则值将为 null。
 

请你重构 Products 表，查询每个产品在不同商店的价格，使得输出的格式变为(product_id, store, price) 。如果这一产品在商店里没有出售，则不输出这一行。

输出结果表中的 顺序不作要求 。

查询输出格式请参考下面示例。

 

示例 1：

输入：
Products table:
+------------+--------+--------+--------+
| product_id | store1 | store2 | store3 |
+------------+--------+--------+--------+
| 0          | 95     | 100    | 105    |
| 1          | 70     | null   | 80     |
+------------+--------+--------+--------+
输出：
+------------+--------+-------+
| product_id | store  | price |
+------------+--------+-------+
| 0          | store1 | 95    |
| 0          | store2 | 100   |
| 0          | store3 | 105   |
| 1          | store1 | 70    |
| 1          | store3 | 80    |
+------------+--------+-------+
解释：
产品 0 在 store1、store2、store3 的价格分别为 95、100、105。
产品 1 在 store1、store3 的价格分别为 70、80。在 store2 无法买到。

In [1]:
import pandas as pd

"""
思路: 看到需要宽表拉为长表，考虑使用melt方法
melt(<table>, id_vars, value_vars, var_name, value_name)
id_vars: 指定要保留的ID索引
value_vars: 转换前包含值的列（需要转换为行名的列名）
var_name: 转换后包含value_vars的列名
value_name: 转换后包含转换前的值的列名

Tips：melt(<table>, id_vars, values_vars, var_name, value_name), dropna(subset=)
"""

def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:
    products = pd.melt(products, id_vars=['product_id'], value_vars=['store1', 'store2', 'store3'], var_name='store', value_name='price')
    products = products.dropna(subset=['price'])
    return products

In [3]:
data = [[0, 95, 100, 105], [1, 70, None, 80]]
products = pd.DataFrame(data, columns=['product_id', 'store1', 'store2', 'store3']).astype({'product_id':'int64', 'store1':'int64', 'store3':'int64'})
rearrange_products_table(products)

   product_id   store  price
0           0  store1   95.0
1           1  store1   70.0
2           0  store2  100.0
4           0  store3  105.0
5           1  store3   80.0